@use "sass:math";

// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
// px -> rem
@function rem($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1rem;
}

// px -> em
@function em($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1em;
}