@use '../util/variables.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/breakpoints.scss' as *;

// ------------------------ autonumeration ----------------------------
// use (it will create ::before with numeration):
// @include counter(my-counter)               =>   '1', '2', etc
// @include counter(my-counter, '. ', true)   =>   '01. ', '02. ', etc

@mixin counter($name, $separator: '', $leadingZero: false) {
    
    &:before {
        counter-increment: $name;
        content:
            if($leadingZero,
                counter($name, decimal-leading-zero),
                counter($name) 
            ) + " '" + #{$separator} + "'";
    }
}

// apply to the parent with the same name
// @include counter-reset(my-counter, -1)
@mixin counter-reset($name, $start: 0) {
    counter-reset: $name $start;
}

//              using example:
// .parent {
//     @include counter-reset(my-counter, -1); // start from 0;
//
//     .children {
//         @include counter(my-counter, '- ', true); =>   '01- ', '02- ', etc
//
//         // stylization for numbers
//         &:before {
//             font-weight: bold;
//             margin-right: 8em;
//         }
//     }
// }

//----------- multiset -------------

@mixin set($value, $mob, $tab, $desk) {
    #{$value}: #{$mob};
    
    @include breakpoint(medium) {
        #{$value}: #{$tab};
    }
    
    @include breakpoint(large) {
        #{$value}: #{$desk};
    }
}

//----------- Resets ---------------

@mixin reset-button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
}

@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin reset-link {
    color: inherit;
    text-decoration: none;
      
    &:hover {
        text-decoration: none;
    }
    
    &:visited {
        color: inherit;
    }
}

//------------ bottons -------------

@mixin button {
    display: block;
    border: rem(2) solid $medium-gray;
    border-radius: rem(12);
    line-height: 2.3;
    text-align: center;
}

@mixin button-hover {
    border-color: black;
    background-color: white;
    color: black;
}

@mixin buttun-paddings {
    padding-left: rem(20);
    padding-right: rem(20);
}

//---------- transition ------------

@mixin transition($property: 'all', $trans-dur: $trans-dur) {
    transition: #{$property} $trans-dur $trans-tf;
}

//------------- flex ---------------

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

//------------ indents -------------

@mixin edges {
    padding-left: rem($edge-indent);
    padding-right: rem($edge-indent);
    
    @include breakpoint(medium) {
        padding-left: rem($edge-indent-medium);
        padding-right: rem($edge-indent-medium);
    }
    
    @include breakpoint(large) {
        padding-left: rem($edge-indent-large);
        padding-right: rem($edge-indent-large);
    }
}

@mixin ignore-edges {
    margin-left: rem(-$edge-indent);
    margin-right: rem(-$edge-indent);
    
    @include breakpoint(medium) {
        margin-left: rem(-$edge-indent-medium);
        margin-right: rem(-$edge-indent-medium);
    }
    
    @include breakpoint(large) {
        margin-left: rem(-$edge-indent-large);
        margin-right: rem(-$edge-indent-large);
    }
}

//---------- centration ------------

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

//------- project specific ---------

@mixin bg-image($page-name) {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-image: url("./../img/#{$page-name}/background-#{$page-name}-mobile.jpg");
    
    @include breakpoint(medium) {
        background-image: url("./../img/#{$page-name}/background-#{$page-name}-tablet.jpg");
    }

    @include breakpoint(large) {
        background-image: url("./../img/#{$page-name}/background-#{$page-name}-desktop.jpg");
    }
}

@mixin frosted-glass {
    background: rgba(53, 60, 75, 0.3);
    backdrop-filter: blur(10px);
}

// inner pages preheaders numeration
@mixin prepend-number($number) {
    left: em(15);
    position: relative;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    &::before {
        left: em(-30);
        position: absolute;
        content: '0#{$number}';
        font-weight: bold;
        color: $color-font-strong;
        opacity: .25;
    }

    @include breakpoint(medium) {
        margin-left: 0;
        margin-right: 0;
        left: em(30);
    }
    @include breakpoint(large) {
        left: 0;
    }
}