// breakpoints in px (px => em in CSS mediaqueries)
$breakpoint-medium: 768;
$breakpoint-large: 1440;
$breakpoint-xlarge: 0;

// main sizes
$edge-indent: 24;

// transition rules
$trans-dur: 150ms;
$trans-tf: ease-in-out;
$transition-all: all $trans-dur $trans-tf;

// Colors
$color-theme: #0B0D17;
$color-font-weak: #D0D6F9;
$color-font-strong: #fff;

// Burger button setup
$burger-button-height: 21;
$burger-button-width: 24;
$burger-bar-height: 3;
$burger-button-color: $color-font-strong;

// fonts
$font-headings: 'Bellefair', serif;
$font-regular: 'Barlow Condensed', sans-serif; // weight: 200, 400