@use '../util' as *;


.destination {
    @include bg-image(destination);

    &__main {
        text-align: center;
        @include edges;

        @include breakpoint(large) {
            @include flex-row;
            justify-content: space-around;
        }
    }

    &__preheader {
        @include prepend-number(1);

        @include breakpoint(large) {
            align-self: flex-start;
        }
    }

    &__image {
        user-select: none;

        @include set(
            width,
            rem(170), rem(300), rem(445)
        );

        @include set(
            margin-bottom,
            rem(26), rem(53), rem(97)
        );
    }

    &__infoblock {

        @include breakpoint(large) {
            align-self: flex-start;
            margin-top: rem(140);

            @include flex;
            align-items: flex-start;
        }
    }

    &__buttonsblock {
        display: inline-block;
        min-width: max-content;

        @include set(
            margin-bottom,
            rem(31), rem(47), rem(52)
        );

        & > div.tab-navigation {
            $arrow-distance: 55;

            position: relative;

            
            &::before,
            &::after {
                position: absolute;
                content: '➤';
                top: 0;
                opacity: 0;
                @include transition(opacity);
            }

            &::before {
                transform: rotate(180deg);
                left: rem(-$arrow-distance);
            }

            &::after {
                top: rem(-2.5);
                right: rem(-$arrow-distance);
            }

            &:focus-within::before,
            &:focus-within::after {
                opacity: 1;
            }

        }
    }
    
    &__button {
        position: relative;

        font-size: rem(14);
        letter-spacing: em(2.7);
        text-transform: uppercase;
        text-align: center;
        color: $color-font-weak;
        
        user-select: none;
        cursor: pointer;

        @include transition(color);

        @include breakpoint(medium) {
            font-size: rem(16);
        }

        &:not(:last-child) {
            margin-right: rem(27);
        }

        &:hover {
            color: $color-font-strong;
        }

        &::before {
            background-color: $color-font-weak;
            position: absolute;
            content: '';
            width: 100%;
            height: rem(3);
            bottom: rem(-11);
            opacity: 0;
            @include transition(opacity);
            
            @include breakpoint(medium) {
                bottom: rem(-15);
            }
        }

        &:hover::before {
            opacity: .5;
        }
    }

    input[type='radio']:checked + label {
        color: $color-font-strong;
        pointer-events: none;

        &::before {
            opacity: 1;
        }
    }

    // &__header

    &__description {
        position: relative;

        max-width: rem(450);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(32);

        @include set(
            padding-bottom,
            rem(32), rem(49), rem(54)
        );

        
        @include breakpoint(medium) {
            max-width: rem(500);
            margin-bottom: rem(28);
        }

        @include breakpoint(large) {
            margin-left: 0;
            margin-right: 0;
            min-width: auto;

            text-align: left;
            max-width: 390px;
        }
        
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: rem(1);
            left: 0;
            bottom: 0;
            background-color: $color-font-strong;
            opacity: .25;
        }
    }

    &__details {
        
        @include breakpoint(medium) {

            display: flex;
            justify-content: center;
            gap: rem(100);
        }

        @include breakpoint(large) {

            gap: rem(60);
        }

        & > * {
            margin-bottom: rem(32);
            
            @include breakpoint(medium) {
            }
            @include breakpoint(large) {
                margin-bottom: 0;
                text-align: left;
            }
        }
    }

    &__title {
        display: block;
        margin-bottom: rem(12);
    }

    &__value {
        display: block;
    }
}