@use '../util' as *;


.index {
    @include bg-image(home); 

    &__main {
        @include edges;

        @include flex;
        isolation: isolate;
        text-align: center;

        @include set(
            margin-top,
            rem(48), rem(106), 17.4vh
        );

        @include breakpoint(large) {
            text-align: left;
    
            flex-direction: row;
            justify-content: space-between;

            padding-left: rem(165);
            padding-right: rem(165);
    
            padding-left: 11.46vw;
            padding-right: 11.46vw;
        }
    }

    &__text-wrapper {

        @include breakpoint(medium) {
            max-width: min-content;
        }
    }

    &__preheader {
        margin-bottom: rem(16);
        text-align: center;
        color: $color-font-weak;

        @include breakpoint(large) {
            text-align: left;
        }
    }
    
    &__info {
        max-width: 75%;
        margin: 0 auto;

        @include breakpoint(medium) {
            margin: 0;
            max-width: none;
        }
    }

    &__button {
        margin-top: rem(81);

        @include breakpoint(large) {

        }
    }
}