@use '../util' as *;

.index-body {
    background-image: url("/img/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    
    @include breakpoint(large) {
        background-image: url("../../img/home/background-home-desktop.jpg");
    }
}

.index {
    @include edges;
    @include flex;
    text-align: center;
    margin-top: rem(48);

    @include breakpoint(medium) {
        margin-top: rem(106);
    }
    
    @include breakpoint(large) {
        text-align: left;

        margin-top: 17.4vh;
        flex-direction: row;
        justify-content: space-between;
    }

    &__text-wrapper {

        @include breakpoint(medium) {
            max-width: min-content;
        }
    }
    
    &__info {
        max-width: 75%;
        margin: 0 auto;

        @include breakpoint(medium) {
            margin: 0;
            max-width: none;
        }
    }

    &__button {
        margin-top: rem(81);

        @include breakpoint(large) {

        }
    }
}