@use '../util' as *;


.index {
    background-image: url("/img/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    @include breakpoint(medium) {
        background-image: url("/img/home/background-home-tablet.jpg");
    }
    @include breakpoint(large) {
        background-image: url("/img/home/background-home-desktop.jpg");
    }

    &__main {
        @include edges;

        @include flex;
        text-align: center;
        margin-top: rem(48);
    
        @include breakpoint(medium) {
            margin-top: rem(106);
        }
        
        @include breakpoint(large) {
            text-align: left;
    
            margin-top: 17.4vh;
            flex-direction: row;
            justify-content: space-between;

            padding-left: rem(165);
            padding-right: rem(165);
    
            padding-left: 11.46vw;
            padding-right: 11.46vw;
        }
    }

    &__text-wrapper {

        @include breakpoint(medium) {
            max-width: min-content;
        }
    }

    &__preheader {
        margin-bottom: rem(16);
        text-align: center;
        color: $color-font-weak;

        @include breakpoint(large) {
            text-align: left;
        }
    }
    
    &__info {
        max-width: 75%;
        margin: 0 auto;

        @include breakpoint(medium) {
            margin: 0;
            max-width: none;
        }
    }

    &__button {
        margin-top: rem(81);

        @include breakpoint(large) {

        }
    }
}