@charset "UTF-8";

:root {
  --breakpoint-medium: 48em;
  --breakpoint-large: 90em;
  --breakpoint-xlarge: 0em;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0B0D17;
  min-width: -moz-min-content;
  min-width: min-content;
}

a img {
  vertical-align: middle;
}

:root {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  color: #fff;
}

.preheader,
.preheader-2 {
  margin-top: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.171875em;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.preheader-2 {
  line-height: 1.15;
  letter-spacing: normal;
  font-family: "Bellefair", serif;
  opacity: 0.5;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.header-1,
.header-3,
.header-2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.25;
  font-size: 5rem;
}

.header-2 {
  line-height: 1.15;
  font-size: 3.5rem;
  margin-bottom: 0.0625rem;
}

.header-3 {
  font-size: 1.5rem;
  line-height: 1.15;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.details-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.171875em;
  line-height: 1.2;
  color: #D0D6F9;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.details-value {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 0;
  color: #D0D6F9;
  font-size: 0.9375rem;
  line-height: 1.65;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.preheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-top: 2.5rem;
}

.js-transition-text {
  opacity: 0;
  filter: blur(15px);
  transform: scale(95%);
}

.js-transition-image {
  opacity: 0;
}

.js-transition-image-planet {
  opacity: 0;
  transform: rotate(5deg);
}

.js-transition-image-technology {
  opacity: 0;
  transform: scaleY(0%);
}

.button-explore {
  --button-size: 9.375rem;
  --outline-size: calc( var(--button-size) * 1.642 );
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--button-size);
  height: var(--button-size);
  position: relative;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #0B0D17;
  background-color: #fff;
}

.button-explore:hover {
  text-decoration: none;
}

.button-explore:visited {
  color: inherit;
}

.button-explore:visited {
  color: #0B0D17;
}

.button-explore:focus {
  outline: none;
}

.button-explore::before {
  transition: opacity 150ms ease-in-out;
  background: rgba(53, 60, 75, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  content: "";
  width: var(--outline-size);
  height: var(--outline-size);
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
}

.button-explore:hover::before,
.button-explore:focus::before {
  opacity: 0.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__logo-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: transform 150ms ease-in-out;
}

.header__logo-link:hover,
.header__logo-link:active {
  transform: scale(1.2);
}

.header__logo-link:focus-visible {
  border-radius: 50%;
  outline: 0.1875rem solid #fff;
  outline-offset: 0.25rem;
}

.header #burger-button {
  position: relative;
  transition: transform 150ms ease-in-out;
}

.header #burger-button:hover,
.header #burger-button:active {
  transform: scale(1.2);
}

.header #burger-button:focus-visible::before {
  position: absolute;
  content: "";
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  top: -0.25rem;
  left: -0.25rem;
  outline: 0.1875rem solid #fff;
}

.nav {
  counter-reset: nav-links-counter -1;
}

.nav__list {
  --nav-gap: 2.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.875rem;
  letter-spacing: 0.16875em;
  text-transform: uppercase;
  color: #D0D6F9;
  background: rgba(53, 60, 75, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 2rem;
  padding-top: 7.375rem;
}

.nav__list a:active {
  color: #fff;
}

.nav__item {
  position: relative;
  padding-right: 5.625rem;
}

.nav__item:not(:last-child) {
  margin-bottom: 2rem;
}

.nav__link:before {
  counter-increment: nav-links-counter;
  content: counter(nav-links-counter, decimal-leading-zero) '';
}

.nav__link:before {
  font-weight: bold;
  margin-right: 0.5em;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  transition: outline-offset 150ms ease-in-out;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nav__link:hover {
  text-decoration: none;
}

.nav__link:visited {
  color: inherit;
}

.nav__link.this-page {
  pointer-events: none;
  cursor: not-allowed;
  color: #fff;
}

.nav__link:hover,
.nav__link:active {
  color: #fff;
}

.nav__link::after {
  position: absolute;
  content: "";
  bottom: -40%;
  right: 0;
  width: 0.1875rem;
  height: 180%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav__link.this-page::after {
  opacity: 1;
  background-color: #D0D6F9;
}

.nav__link:hover::after,
.nav__link:focus-visible::after {
  opacity: 1;
  background-color: #D0D6F9;
}

.nav__link:active::after {
  background-color: #fff;
}

.nav__link:active::after {
  background-color: #fff;
}

.nav__link:focus-visible {
  outline-offset: 0.25rem;
  outline: 0.1875rem solid #D0D6F9;
}

.no-webp .index{
  background-image: url("./../img/home/background-home-mobile.jpg"); }

.index {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.index__main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  text-align: center;
  margin-top: 3rem;
}

.index__preheader {
  margin-bottom: 1rem;
  text-align: center;
  color: #D0D6F9;
}

.index__info {
  max-width: 75%;
  margin: 0 auto;
}

.index__button {
  margin-top: 5.0625rem;
}

.no-webp .destination{
  background-image: url("./../img/destination/background-destination-mobile.jpg"); }

.destination {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.destination__main {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.destination__preheader {
  left: 0.9375em;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.destination__preheader::before {
  left: -1.875em;
  position: absolute;
  content: "01";
  font-weight: bold;
  color: #fff;
  opacity: 0.25;
}

.destination__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 10.625rem;
  margin-bottom: 1.625rem;
}

.destination__buttonsblock {
  display: inline-block;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: 1.9375rem;
}

.destination__buttonsblock > div.tab-navigation {
  position: relative;
}

.destination__buttonsblock > div.tab-navigation::before,
.destination__buttonsblock > div.tab-navigation::after {
  position: absolute;
  content: "➤";
  top: 0;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.destination__buttonsblock > div.tab-navigation::before {
  transform: rotate(180deg);
  left: -3.4375rem;
}

.destination__buttonsblock > div.tab-navigation::after {
  top: -0.15625rem;
  right: -3.4375rem;
}

.destination__buttonsblock > div.tab-navigation:focus-within::before,
.destination__buttonsblock > div.tab-navigation:focus-within::after {
  opacity: 1;
}

.destination__button {
  position: relative;
  font-size: 0.875rem;
  letter-spacing: 0.16875em;
  text-transform: uppercase;
  text-align: center;
  color: #D0D6F9;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.destination__button:not(:last-child) {
  margin-right: 1.6875rem;
}

.destination__button:hover {
  color: #fff;
}

.destination__button::before {
  background-color: #D0D6F9;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1875rem;
  bottom: -0.6875rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.destination__button:hover::before {
  opacity: 0.5;
}

.destination input[type=radio]:checked + label {
  color: #fff;
  pointer-events: none;
}

.destination input[type=radio]:checked + label::before {
  opacity: 1;
}

.destination__description {
  position: relative;
  max-width: 28.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.destination__description::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.25;
}

.destination__details > * {
  margin-bottom: 2rem;
}

.destination__title {
  display: block;
  margin-bottom: 0.75rem;
}

.destination__value {
  display: block;
}

.no-webp .crew{
  background-image: url("./../img/crew/background-crew-mobile.jpg"); }

.crew {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.crew__main {
  flex-grow: 1;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.crew__preheader {
  left: 0.9375em;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.crew__preheader::before {
  left: -1.875em;
  position: absolute;
  content: "02";
  font-weight: bold;
  color: #fff;
  opacity: 0.25;
}

.crew__imgwrapper {
  position: relative;
  margin-bottom: 2rem;
}

.crew__imgwrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: 0.125rem;
  background-color: #fff;
  background: linear-gradient(0.25turn, transparent, #fff, transparent);
  opacity: 0.25;
}

.crew__image {
  position: relative;
  height: 13.9375rem;
}

.crew__buttonsblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.crew__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  display: block;
  isolation: isolate;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: relative;
}

.crew__button:focus-visible {
  outline-offset: -0.3125rem;
}

.crew__button::before {
  z-index: 1;
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  top: 0.4375rem;
  left: 0.4375rem;
  background-color: #fff;
  opacity: 0.17;
}

.crew__button:hover::before,
.crew__button:focus-visible::before {
  opacity: 0.5;
}

.crew__button:active::before {
  opacity: 1;
}

.crew__button--checked {
  pointer-events: none;
}

.crew__button--checked::before {
  opacity: 0.5;
}

.crew__name {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  white-space: nowrap;
}

.crew__bio {
  margin-left: auto;
  margin-right: auto;
  max-width: 21.25rem;
  margin-bottom: 6.5rem;
}

.no-webp .technology{
  background-image: url("./../img/technology/background-technology-mobile.jpg"); }

.technology {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.technology__main {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.technology__preheader {
  left: 0.9375em;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.technology__preheader::before {
  left: -1.875em;
  position: absolute;
  content: "03";
  font-weight: bold;
  color: #fff;
  opacity: 0.25;
}

.technology__imgwrapper {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  order: 2;
  margin-bottom: 2.125rem;
}

.technology__image {
  width: 100%;
}

.technology__infowrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  gap: 1.625rem;
}

.technology__buttonsblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  counter-reset: button-number 0;
  gap: 1rem;
}

.technology__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  display: block;
  background-color: #fff;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.technology__button:before {
  counter-increment: button-number;
  content: counter(button-number) '';
}

.technology__button::before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: 1rem;
}

.technology__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  opacity: 0.25;
  transition: opacity 150ms ease-in-out;
}

.technology__button:hover {
  opacity: 1;
}

.technology__button:hover::after {
  opacity: 1;
}

.technology__button:active::before,
.technology__button--checked::before {
  filter: invert(100%);
}

.technology__button:active {
  background-color: #fff;
}

.technology__button--checked {
  pointer-events: none;
  background-color: #fff;
}

.technology__title {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #D0D6F9;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 0;
  font-size: 0.875rem;
  margin-bottom: 0.5625rem;
}

.technology__name {
  white-space: nowrap;
}

.technology__description {
  max-width: 27.5rem;
  margin-bottom: 5.0625rem;
}

@media (min-width: 48em) {
  .preheader,
  .preheader-2 {
    font-size: 1.25rem;
  }

  .preheader,
  .preheader-2 {
    margin-bottom: 3.75rem;
  }

  .preheader-2 {
    font-size: 1.5rem;
  }

  .preheader-2 {
    margin-bottom: 0.5rem;
  }

  .header-1,
  .header-3,
  .header-2 {
    font-size: 9.375rem;
  }

  .header-1,
  .header-3,
  .header-2 {
    line-height: 1.15;
  }

  .header-2 {
    font-size: 5rem;
  }

  .header-2 {
    margin-bottom: 0.5rem;
  }

  .header-3 {
    font-size: 2.5rem;
  }

  .header-3 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }

  p {
    line-height: 1.75;
  }

  .preheader {
    text-align: left;
    margin-left: 1.5rem;
  }

  .preheader {
    text-align: left;
    margin-top: 4.75rem;
  }

  .button-explore {
    --button-size: 15.09375rem;
    font-size: 2rem;
    margin-top: 9.75rem;
  }

  .header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav {
    margin-left: 2.5rem;
  }

  .nav__list {
    flex-direction: row;
    -moz-column-gap: var(--nav-gap);
    column-gap: var(--nav-gap);
    flex-wrap: wrap;
    min-height: auto;
    min-width: auto;
    width: auto;
    padding-left: var(--nav-gap);
    padding-right: var(--nav-gap);
    padding-top: 0;
    margin-right: -2.5rem;
  }

  .nav__item {
    padding: 2.28125rem 0;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 0;
  }

  .nav__link::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1875rem;
  }

  .nav__link:focus-visible::after {
    width: calc(
                        100% + 0.4375rem * 2
                    );
    transform: translateX(calc(( 0.1875rem + 0.25rem ) * -1));
  }

  .no-webp .index{
    background-image: url("./../img/home/background-home-tablet.jpg"); }

  .index__main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .index__main {
    margin-top: 6.625rem;
  }

  .index__text-wrapper {
    max-width: -moz-min-content;
    max-width: min-content;
  }

  .index__info {
    margin: 0;
    max-width: none;
  }

  .no-webp .destination{
    background-image: url("./../img/destination/background-destination-tablet.jpg"); }

  .destination__main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .destination__preheader {
    margin-left: 0;
    margin-right: 0;
    left: 1.875em;
  }

  .destination__image {
    width: 18.75rem;
  }

  .destination__image {
    margin-bottom: 3.3125rem;
  }

  .destination__buttonsblock {
    margin-bottom: 2.9375rem;
  }

  .destination__button {
    font-size: 1rem;
  }

  .destination__button::before {
    bottom: -0.9375rem;
  }

  .destination__description {
    padding-bottom: 3.0625rem;
  }

  .destination__description {
    max-width: 31.25rem;
    margin-bottom: 1.75rem;
  }

  .destination__details {
    display: flex;
    justify-content: center;
    gap: 6.25rem;
  }

  .no-webp .crew{
    background-image: url("./../img/crew/background-crew-tablet.jpg"); }

  .crew__main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .crew__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .crew__preheader {
    margin-left: 0;
    margin-right: 0;
    left: 1.875em;
  }

  .crew__preheader {
    margin-right: auto;
  }

  .crew__imgwrapper {
    margin-bottom: 0;
  }

  .crew__imgwrapper {
    order: 3;
  }

  .crew__imgwrapper::before {
    display: none;
  }

  .crew__image {
    height: 33.25rem;
  }

  .crew__image {
    bottom: -4px;
  }

  .crew__infowrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .crew__buttonsblock {
    margin-bottom: 2.5rem;
  }

  .crew__bio {
    max-width: 28.625rem;
  }

  .crew__bio {
    margin-bottom: 2.5rem;
  }

  .no-webp .technology{
    background-image: url("./../img/technology/background-technology-tablet.jpg"); }

  .technology__main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .technology__main {
    padding-left: 0;
    padding-right: 0;
  }

  .technology__preheader {
    margin-left: 0;
    margin-right: 0;
    left: 1.875em;
  }

  .technology__preheader {
    margin-right: auto;
    margin-left: 2.5rem;
  }

  .technology__imgwrapper {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  .technology__imgwrapper {
    margin-bottom: 3.5rem;
  }

  .technology__infowrapper {
    gap: 2.75rem;
  }

  .technology__buttonsblock {
    gap: 1rem;
  }

  .technology__button {
    width: 3.75rem;
  }

  .technology__button {
    height: 3.75rem;
  }

  .technology__button::before {
    font-size: 1.5rem;
  }

  .technology__title {
    font-size: 1rem;
  }

  .technology__title {
    margin-bottom: 1rem;
  }

  .technology__description {
    max-width: 28.75rem;
  }

  .technology__description {
    margin-bottom: 6.0625rem;
  }
}

@media (min-width: 90em) {
  .preheader,
  .preheader-2 {
    font-size: 1.75rem;
  }

  .preheader,
  .preheader-2 {
    margin-bottom: 6.0625rem;
  }

  .preheader-2 {
    font-size: 2rem;
  }

  .preheader-2 {
    margin-bottom: 0.9375rem;
  }

  .header-1,
  .header-3,
  .header-2 {
    font-size: 9.375rem;
  }

  .header-2 {
    font-size: 6.25rem;
  }

  .header-2 {
    margin-bottom: 0.875rem;
  }

  .header-3 {
    font-size: 3.5rem;
  }

  .header-3 {
    margin-bottom: 1.6875rem;
  }

  p {
    font-size: 1.125rem;
  }

  p {
    line-height: 1.78;
  }

  .button-explore {
    --button-size: 17.15625rem;
    font-size: 2rem;
  }

  .header {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .header {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .nav__list {
    --nav-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    padding-right: 10.3125rem;
    padding-left: 7.6875rem;
    margin-right: -3.4375rem;
  }

  .no-webp .index{
    background-image: url("./../img/home/background-home-desktop.jpg"); }

  .index__main {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .index__main {
    margin-top: 17.4vh;
  }

  .index__main {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    padding-left: 11.46vw;
    padding-right: 11.46vw;
  }

  .index__preheader {
    text-align: left;
  }

  .no-webp .destination{
    background-image: url("./../img/destination/background-destination-desktop.jpg"); }

  .destination__main {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .destination__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .destination__preheader {
    left: 0;
  }

  .destination__preheader {
    align-self: flex-start;
  }

  .destination__image {
    width: 27.8125rem;
  }

  .destination__image {
    margin-bottom: 6.0625rem;
  }

  .destination__infoblock {
    align-self: flex-start;
    margin-top: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }

  .destination__buttonsblock {
    margin-bottom: 3.25rem;
  }

  .destination__description {
    padding-bottom: 3.375rem;
  }

  .destination__description {
    margin-left: 0;
    margin-right: 0;
    min-width: auto;
    text-align: left;
    max-width: 390px;
  }

  .destination__details {
    gap: 3.75rem;
  }

  .destination__details > * {
    margin-bottom: 0;
    text-align: left;
  }

  .no-webp .crew{
    background-image: url("./../img/crew/background-crew-desktop.jpg"); }

  .crew__main {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .crew__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .crew__preheader {
    left: 0;
  }

  .crew__preheader {
    align-self: flex-start;
    position: absolute;
    margin-top: 8vh;
    left: calc(
                1.875em + 10vw
            );
  }

  .crew__imgwrapper {
    margin-bottom: 0;
  }

  .crew__imgwrapper {
    align-self: flex-end;
  }

  .crew__image {
    height: 80vh;
  }

  .crew__infowrapper {
    align-items: flex-start;
    max-width: 31.25rem;
    align-self: stretch;
  }

  .crew__buttonsblock {
    margin-bottom: 10.5vh;
  }

  .crew__infoblock {
    text-align: left;
    flex-grow: 1;
    margin-top: 25vh;
  }

  .crew__bio {
    max-width: 27.75rem;
  }

  .crew__bio {
    margin-bottom: 2.5rem;
  }

  .crew__bio {
    margin-left: 0;
    margin-right: 0;
  }

  .no-webp .technology{
    background-image: url("./../img/technology/background-technology-desktop.jpg"); }

  .technology__main {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .technology__main {
    position: relative;
  }

  .technology__preheader {
    left: 0;
  }

  .technology__preheader {
    margin-left: calc(
                1.875em + 11.46vw
            );
    margin-bottom: 1.625rem;
    margin-top: 2vh;
  }

  .technology__content {
    display: grid;
    grid-template-columns: 1fr 35.76%;
    grid-template-columns: 1fr 32.1875rem;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
  }

  .technology__imgwrapper {
    margin-left: -3.4375rem;
    margin-right: -3.4375rem;
  }

  .technology__imgwrapper {
    margin-bottom: 0;
  }

  .technology__imgwrapper {
    justify-self: end;
    margin-left: 0;
    margin-right: 0;
  }

  .technology__image {
    max-height: 57.22vh;
    width: auto;
  }

  .technology__infowrapper {
    gap: 5rem;
  }

  .technology__infowrapper {
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 11.46vw;
    margin-right: 6.25rem;
  }

  .technology__buttonsblock {
    gap: 2rem;
  }

  .technology__buttonsblock {
    flex-direction: column;
  }

  .technology__button {
    width: 5rem;
  }

  .technology__button {
    height: 5rem;
  }

  .technology__button::before {
    font-size: 2rem;
  }

  .technology__infoblock {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    max-width: 27.75rem;
  }

  .technology__title {
    font-size: 1rem;
  }

  .technology__title {
    margin-bottom: 0.6875rem;
  }

  .technology__description {
    max-width: 37.5rem;
  }

  .technology__description {
    margin-bottom: 0;
  }
}

.webp .index{ background-image: url(./../img/home/background-home-mobile.webp); }

.webp .destination{ background-image: url(./../img/destination/background-destination-mobile.webp); }

.webp .crew{ background-image: url(./../img/crew/background-crew-mobile.webp); }

.webp .technology{ background-image: url(./../img/technology/background-technology-mobile.webp); }

@media (min-width: 48em){

  .webp .index{ background-image: url(./../img/home/background-home-tablet.webp); }
}

@media (min-width: 48em){

  .webp .destination{ background-image: url(./../img/destination/background-destination-tablet.webp); }
}

@media (min-width: 48em){

  .webp .crew{ background-image: url(./../img/crew/background-crew-tablet.webp); }
}

@media (min-width: 48em){

  .webp .technology{ background-image: url(./../img/technology/background-technology-tablet.webp); }
}

@media (min-width: 90em){

  .webp .index{ background-image: url(./../img/home/background-home-desktop.webp); }
}

@media (min-width: 90em){

  .webp .destination{ background-image: url(./../img/destination/background-destination-desktop.webp); }
}

@media (min-width: 90em){

  .webp .crew{ background-image: url(./../img/crew/background-crew-desktop.webp); }
}

@media (min-width: 90em){

  .webp .technology{ background-image: url(./../img/technology/background-technology-desktop.webp); }
}