@use '../../util' as *;
@use '../../globals/typography' as *;

// tab navigation outline 
$outline-size: 3;
$outline-offset: 4;
// decorative bars
$underline-width: $outline-size;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include edges;

    padding-top: rem(24);
    padding-bottom: rem(24);

    @include breakpoint(medium) {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    @include breakpoint(large) {
        padding-top: rem(40);
        padding-bottom: 0;
    }

    &__logo-link {
        user-select: none;
        @include transition(transform);

        &:hover,
        &:active {
            transform: scale(1.2);
        }

        &:focus-visible {
            border-radius: 50%;
            outline: #{rem($outline-size)} solid #{$color-font-strong};
            outline-offset: rem($outline-offset);
        }
    }

    #burger-button {
        position: relative;
        @include transition(transform);

        &:hover,
        &:active {
            transform: scale(1.2);
        }
        
        // outline keeper
        &:focus-visible::before {
            $size: calc(100% + #{rem($outline-offset * 2)});

            position: absolute;
            content: '';
            width: $size;
            height: $size;
            top: rem($outline-offset * -1);
            left: rem($outline-offset * -1);

            outline: #{rem($outline-size) solid #{$color-font-strong}};
        }
    }
}

.nav {
    @include breakpoint(medium) {
        margin-left: rem($edge-indent);
    }

    &__list {
        @include reset-list;
        @include text-navigation;
        @include frosted-glass;

        display: flex;
        flex-direction: column;
        
        min-height: 100vh;
        min-width: rem(170);
        width: 68vw;
        
        padding-left: rem(32);
        padding-top: rem(118);

        @include breakpoint(medium) {
            flex-direction: row;
            column-gap: rem(35);
            flex-wrap: wrap;

            min-height: auto;
            min-width: auto;
            width: auto;
    
            padding-left: rem(35);
            padding-right: rem(35);
            padding-top: 0;
            
            // shift out of parent
            margin-right: rem(-$edge-indent-medium);
        }
        
        @include breakpoint(large) {
            // shift out of parent
            margin-right: rem(-$edge-indent-large);
        }
    }

    &__item {
        position: relative;
        
        @include breakpoint(medium) {
            padding: rem(36.5) 0;
        }
        
        &:not(:last-child) {
            margin-bottom: rem(32);

            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
    }

    // ------------- autonumeration ---------------
    @include counter-reset(nav-links-counter, -1);

    &__link {

        @include counter(nav-links-counter, '', true);

        &:before {
            font-weight: bold;
            margin-right: em(8);
        }
    }
    // --------------------------------------------

    &__link {
        @include reset-link;
        @include transition(outline-offset);
        word-wrap: nowrap;
        user-select: none;

        &.this-page {
            pointer-events: none;
            cursor: not-allowed;
            color: $color-font-strong;
        }

        &:active {
            color: $color-font-strong;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: -40%;
            right: 0;
            width: rem($underline-width);
            height: 180%;
            pointer-events: none;
            opacity: 0;
            
            @include transition(opacity);
            
            @include breakpoint(medium) {
                bottom: 0;
                left: 0;
                width: 100%;
                height: rem($underline-width);
            }
        }

        &.this-page::after {
            opacity: .2;
            background-color: $color-font-weak;
        }

        &:hover::after,
        &:focus-visible::after {
            opacity: 1;
            background-color: $color-font-weak;
        }

        &:active::after {
            background-color: $color-font-strong;
        }
        &:active::after {
            background-color: $color-font-strong;
        }

        &:focus-visible {

            // outline in keyboard navigation
            outline-offset: rem($outline-offset);
            outline: #{rem($outline-size)} solid $color-font-weak;

            &::after {

                // underline width will consider appeared outline in keyboard navigation
                @include breakpoint(medium) {
                    width: calc(
                        100% + #{( rem($outline-size) + rem($outline-offset) )} * 2
                    );
                    transform: translateX(
                        calc(
                            ( #{rem($outline-size)} + #{rem($outline-offset)} ) * -1
                        )
                    );
                }
            }
        }
    }
}