@use '../util' as *;

html, body {
    height: 100%;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $color-theme;
    min-width: min-content;
}

main {
    // flex-grow: 1;
}

// remove ghost bottom indent
a img {
    vertical-align: middle;
}