@use '../util' as *;

:root { // breakpoints for JS
    --breakpoint-medium: #{em($breakpoint-medium)};
    --breakpoint-large: #{em($breakpoint-large)};
    --breakpoint-xlarge: #{em($breakpoint-xlarge)};
}

// .limiter {
//     padding: 0 rem($edges-indents);
//     min-width: rem($body-min-size);
//     margin: 0 auto;
// }

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}