@use '../util' as *;


:root {
    font-family: $font-regular;
    font-weight: 200;
    color: $color-font-strong;
}

.preheader {
    margin-top: 0;

    font-family: $font-regular;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: em(2.75);
    color: $color-font-strong;

    @include set(
        font-size,
        rem(16), rem(20), rem(28)
    );

    @include set(
        margin-bottom,
        rem(32), rem(60), rem(97)
    );
}

// crew memeber role
.preheader-2 {
    @extend .preheader;

    line-height: 1.15;
    letter-spacing: normal;

    font-family: $font-headings;
    opacity: .5;

    @include set(
        font-size,
        rem(16), rem(24), rem(32)
    );

    @include set(
        margin-bottom,
        rem(8), rem(8), rem(15)
    );
}

.header-1 {
    margin-top: 0;
    margin-bottom: rem(24);

    font-family: $font-headings;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.25;

    @include set(
        font-size,
        rem(80), rem(150), rem(150)
    );

    @include breakpoint(medium) {
        line-height: 1.15;
    }
}

.header-2 {
    @extend .header-1;
    line-height: 1.15;

    @include set(
        font-size,
        rem(56), rem(80), rem(100)
    );

    @include set(
        margin-bottom,
        rem(1), rem(8), rem(14)
    );
}

// crew memeber name & technology name
.header-3 {
    @extend .header-1;
    font-size: rem(24);
    line-height: 1.15;

    @include set(
        font-size,
        rem(24), rem(40), rem(56)
    );

    @include set(
        margin-bottom,
        rem(16), rem(16), rem(27)
    );
}

.details-title { // destination page
    font-family: $font-regular;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 400;
    letter-spacing: em(2.75);
    line-height: 1.2;

    color: $color-font-weak;
    margin-bottom: rem(24);
    margin-top: 0;
}

.details-value { // destination page
    font-family: $font-headings;
    text-transform: uppercase;
    font-size: rem(28);
    font-weight: 400;
    
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 0;
    color: $color-font-weak;

    @include set(
        font-size,
        rem(15), rem(16), rem(18)
    );

    @include set(
        line-height,
        1.65, 1.75, 1.78
    );
}

@mixin text-navigation {
    font-size: rem(14);
    letter-spacing: em(2.7);

    text-transform: uppercase;

    color: $color-font-weak;
    
    a:active {
        color: $color-font-strong;
    }
}